.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eff0eb;
  min-height: 100vh;
  overflow-x: hidden;
}

.logo{
  height: 200px;
  margin: 15px 0px -10px;
}

.search_form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_bar{
  width: 40vw;
  
  border-radius: 5px;
  border: none;
  padding: 10px;
  outline:none;

  margin-bottom: 20px;

}

.search_form > button {
  display: none;
}

.search_formIcon {
  margin-right: 15px;
  margin-bottom: 20px;
}

.recipes{
  display: flex;
  width: 100vw;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  margin-left: 20px;
  margin-right: 20px;
}